.featuredProject-container {
    width: 20%;
    height: 80%;
    box-sizing: border-box;
    text-align: center;
    color: #D2BD45;
    background-color: #222222;
    padding: 2%;
    box-shadow: 4px 8px #323232;
    margin: 3%;
    min-width: 250px;
    height: 350px;
    transition: transform 0.3s ease-out;
}

.featuredProject-container:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.featuredProject-screenshot {
    max-width: 100%;
    max-height: 60%;
}


.featuredProject-container h1 {
    font-size: 135%;
    font-weight: bold;
}

.featuredProject-container figcaption p{
    margin-top: 2.5%;
}