.experience-container {
    margin: 10%;
}

.experience-header-container {
    text-align: center;
    border-bottom: 1px solid #D2BD45;
    margin-bottom: 1%;
}

.experience-header {
    color: #D2BD45;
}

.experience-job-container {
    display: flex;
    color: #D2BD45;
}

.job-title-button-list {
    width: 20%;
    list-style: none;
    margin-left: 5%;
}

.experience-job-location-button {
    width: 100%;
    height: 5rem;
    background-color: #121212;
    color: #D2BD45;
    border: none;
    border-bottom: 1px solid #D2BD45;
    font-size: 1rem;
}

.experience-job-location-button:hover {
    background-color: #222222;
    cursor: pointer;
}

.experience-job-location-button:active, 
.experience-job-location-button:focus {
    background-color: #222222;
    outline: none;
}

.experience-job-description-container {
    margin-left: 10vw;
    width: 80vw;
}

.experience-job-skills-list {
    margin-top: 2%;
    font-size: 20px;
}

@media (max-width: 751px) {
    .experience-job-skills-list {
        font-size: 14px;
    }
}
