.modal {
    height: 40%;
    width: 70%;
    background-color: #222222;
    position: fixed;
    z-index: 200;
    color: #D2BD45;
    top: 25%;
    left: 15%;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.modal-text-container {
    text-align: center;
}

.modal.open {
    transform: translateY(0%);
}

.modal-icons-container {
    bottom: 0;
    display: flex;
}

.spacer {
    flex-grow: 100;
}

.modal-github-icon {
    font-size: 60px;
}

.modal-download-icon {
    right: 0;
    font-size: 60px;
}